h6{
  font-size: 40px;
}

form{
  color: black;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }


footer ul {
  display: flex;
}

nav {
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#inst {
  margin-left: 10px;
}

#tw {
  margin-left: 10px;
}

#spf {
  margin-left: 10px;
}

#form {
  margin-top: 3%;
  left: 35%;
}

#footer {
   flex: 1 0 auto;
  }

#titulo{
  font-family: 'Monoton', cursive;
}

#slogan{
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

#raul {
  font-family: 'Monoton', cursive;
}

#verTodos{
  margin-top: 10px
}

.fa-facebook-official {
color: #3b5998;
}

.fa-google-plus-square {
  color:#d34836;
}

.row .col.m7 {
  width: 25%;
}

/*.container-slide{
  height: auto;
  background-image: url(../img/img_about.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-image: linear-gradient(to right, black 0%,white 100%), url(../img/img_about.png);
}*/

.container-prod img{
  padding: 20px 60px;
}

.btn-floating.halfway-fab {
  right: 0px;
  bottom: -20px;
}

.card .card-title {
    font-size: 20px;
}

.container-slide {
  height: 600px;
}

.parallax{
      background-image: url(../img/disco1.jpeg);
      min-height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

.material-icons:hover {
  background-color: teal;
  }




/*.container-home{
  background: -webkit-linear-gradient(to left, #9bc5c3 , #616161 );
  background: linear-gradient(to left, #9bc5c3 , #616161 );
}*/
